<%= form_with(model: jogging) do |form| %>
  <% if jogging.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(jogging.errors.count, "error") %> prohibited this jogging from being saved:</h2>

      <ul>
        <% jogging.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.text_field :date,class:"form-control" %>
  </div>

  <div>
    <%= form.label :distance, style: "display: block" %>
    <%= form.number_field :distance,class:"form-control" %>
  </div>

  <div>
    <%= form.label :time, style: "display: block" %>
    <%= form.number_field :time,class:"form-control" %>
  </div>

  <div>
    <%= form.number_field :user_id,id: :joggings_user_id, class:"form-control",value:current_user.id,type: :hidden %>
  </div>

  </br>


  <div>
    <%= form.submit %>
  </div>
<% end %>
