<p style="color: green"><%= notice %></p>

<table class="table table-striped table-bordered">
  <thead class="thead-dark">
    <tr>
      <th>Date</th>
      <th>Distance</th>
      <th>Time</th>
      <th>User Id</th>
    </tr>
  </thead>

  <tbody>


    <%if  current_user && current_user.admin?%>
      <% @joggings.each do |jogging| %>
      <tr>
        <td><%=jogging.date%></td>
        <td><%=jogging.distance%></td>
        <td><%=jogging.time%></td>   
        <td><%=jogging.user_id%></td>
        <td><%= link_to "Show this jogging", jogging %></td>
      <%end%>
      </tr>
    <%else%>
      <% @joggings.each do |jogging| %>
      <tr>
        <td><%=jogging.date%></td>
        <td><%=jogging.distance%></td>
        <td><%=jogging.time%></td>   
        <td><%=jogging.user_id%></td>
        <%if jogging.user == current_user%>
        <td><%= link_to "Show this jogging", jogging %></td>
        <%end%>
      </tr>
      <%end%>
    <%end%>



    
  </tbody>
</table>



<%= link_to "New jogging", new_jogging_path,class:"btn btn-secondary" %>
